body {
  color: #4b5258;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  padding-bottom: 40px;
}

header {
  background: #fff;
  border-bottom: 1px solid #eee;
  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  letter-spacing: 0.05em;
  margin: 0 auto;
  max-width: 768px;
  padding: 1em;
  text-align: center;
}

.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
  padding-left: 1em;
  padding-right: 1em;
}

.filter-content {
  display: flex;
  margin: 20px 0;
  gap: 10px;
}

table {
  position: relative;
  font-size: 12px;
  margin-bottom: 20px;
  width: 100%;
}

.pure-table th {
  background-color: #e0e0e0;
  position: sticky;
  top: 0;
  padding: 1em;
}

table td .price,
table td .model {
  text-align: center;
}

table td .model {
  font-weight: bold;
  padding-top: 10px;
}

.model.latest {
  color: crimson;
}

.clickable {
  cursor: pointer;
  text-decoration: underline;
  color: -webkit-link;
}

.model.clickable {
  background: #f8f8ff;
  border-radius: 6px;
  transition: background 0.2s;
  cursor: pointer;
  padding: 6px 0;
}
.model.clickable:active,
.model.clickable:hover {
  background: #e0e0f8;
}

#skate-detail-dialog {
  max-width: 600px;
  width: 90vw;
  padding: 20px;

  border-color: gray;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

#skate-detail-dialog ul {
  list-style-type: none;
  padding: 0;
  line-height: 1.6;
}

#skate-detail-dialog form {
  margin: 0;
  padding: 0;
}

#skate-detail-dialog button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: #eee;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 22px;
  cursor: pointer;
}
